<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.PokeWiki">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PokeWiki">
        <activity
            android:name=".SettingActivity"
            android:theme="@style/Theme.PokeWiki.NoActionBar"
            android:parentActivityName="com.example.android.PokeWiki.Barry" />
        <activity
            android:name=".MovesSettingActivity"
            android:theme="@style/Theme.PokeWiki.NoActionBar"
            android:parentActivityName="com.example.android.PokeWiki.Moves" />
        <activity
            android:name="com.example.android.PokeWiki.Pokemons"
            android:theme="@style/Theme.PokeWiki.NoActionBar"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.android.PokeWiki.MainActivity" />
        <activity
            android:name="com.example.android.PokeWiki.Barry"
            android:theme="@style/Theme.PokeWiki.NoActionBar"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.android.PokeWiki.MainActivity" />
        <activity
            android:name="com.example.android.PokeWiki.Moves"
            android:theme="@style/Theme.PokeWiki.NoActionBar"
            android:launchMode="singleTop"
            android:parentActivityName="com.example.android.PokeWiki.MainActivity" />

        <activity
            android:name="com.example.android.PokeWiki.BarryDetailActivity"
            android:theme="@style/Theme.PokeWiki.NoActionBar"
            android:parentActivityName="com.example.android.PokeWiki.Barry" />
        <activity
            android:name="com.example.android.PokeWiki.movesDetailActivity"
            android:theme="@style/Theme.PokeWiki.NoActionBar"
            android:parentActivityName="com.example.android.PokeWiki.Moves" />
        <activity
            android:name="com.example.android.PokeWiki.PokemonsDetailActivity"
            android:theme="@style/Theme.PokeWiki.NoActionBar"
            android:parentActivityName="com.example.android.PokeWiki.Pokemons" />

        <activity android:name="com.example.android.PokeWiki.MainActivity"
            android:theme="@style/Theme.PokeWiki.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>